.cart-counter {
  display: inline-block;
  width: 17px;
  opacity: 0;
  height: 17px;
  background: #ddd;
  text-align: center;
  border-radius: 50%;
  margin-left: 10px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 13px;
  right: 40px;
}
.logo {
  height: 50px;
}

.card-product {
  overflow: hidden;
  height: 100px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: black !important;
  position: relative;
  color: black;
}
.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}
.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
}
.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}
.card-product .card-product-infos {
  padding: 16px;
}
.deleteBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}
#shoppingCart {
  max-height: 70vh;
  overflow-y: scroll;
}
.uk-offcanvas-bar {
  top: 80px;
  overflow-y: hidden;
}

.uk-card img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.uk-table {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}
.uk-table img {
  object-fit: cover;
  height: 100px;
  width: 100px;
}
.uk-card .uk-button-default {
  width: 100%;
}
.uk-card .uk-form-controls {
  display: flex;
  justify-content: space-between;
}

.uk-card .uk-number {
  flex-basis: 50%;
}
.uk-card .uk-card-body {
  display: grid;
  row-gap: 10px;
  /* flex-direction: column; */
  /* justify-content: space-between; */
}
.uk-card .uk-card-body > * {
  margin: 0;
}

.banner {
  background-size: cover;
  background-position: center;
  min-height: 400px;
  padding: 150px 0;
  margin-bottom: 50px;
  color: white !important;
}
.container {
  width: 550px;
  margin-left: 130px;
  margin-top: 100px;
}
.banner h1 {
  margin: 0;
  color: white !important;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 47px;
  font-weight: bold;
}
.banner p {
  font-size: 19px;
  color: white;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.banner .uk-button {
  color: white;
}

footer {
  background-color: #ebebeb;
  color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 50px;
}
